<div ng-class="{loading:loading}" data-loading="<%- i18n('loading') %>" class="ancestor-inner">
	<header class="info clearfix">
		<div class="img" ng-class="{'has-photo':!!person.photoUrl}" style="{{photoUrlCss()}}" data-gender="{{person.gender|lowercase}}"></div>
		<div class="details">
			<h3 class="serif">{{person.name}}</h3>
			<h5 class="clearfix">
				<div class="pull-left" ng-bind="person.fullLifeSpan|html"></div>
				<div class="pull-left" ng-bind="person.id"></div>
			</h5>
			<div class="clearfix detail-actions">
				<a href="" class="fs-icon-tree" data-action="tree"><%- i18n('person_tree') %></a>
				<a href="" class="fs-icon-watch-off" data-action="watch"><%- i18n('person_watch') %></a>
			</div>
		</div>
		<nav class="section-tabs">
			<a href="" data-section="details" class="active"><span><%- i18n('nav_details') %></span></a>
			<a href="" data-section="photos"><span><%- i18n('nav_photos') %></span></a>
			<a href="" data-section="stories"><span><%- i18n('nav_stories') %></span></a>
		</nav>
	</header>
	<section data-section-id="details" class="clearfix">
		<div class="jump-links">
			<a href=""><%- i18n('jump_vitals') %></a>
			<span>|</span>
			<a href=""><%- i18n('jump_other') %></a>
			<span>|</span>
			<a href=""><%- i18n('jump_family') %></a>
			<span>|</span>
			<a href="" data-count="{{person.sources.length}}"><%- i18n('jump_sources') %></a>
			<span>|</span>
			<a href="" data-count="{{person.discussions.length}}"><%- i18n('jump_discussions') %></a>
			<span>|</span>
			<a href="" data-count="{{person.ordinances.available}}"><%- i18n('jump_ordinances') %></a>
		</div>
		<article class="pull-left">
			<section fs-rounded-section data-title="<%- i18n('section_lifesketch') %>">
				<label ng-show="person.isLiving"><%- i18n('living_lifesketch') %></label>
				<div>{{person.lifeSketch.details.text}}</div>
			</section>
			<section fs-rounded-section data-title="<%- i18n('section_vital') %>" class="has-actions">
				<div class="data-actions">
					<a href=""><%- i18n('open_details') %></a>
				</div>
				<div fs-conclusion="person.nameConclusion" data-type="NAME"></div>
				<div fs-conclusion="person.genderConclusion" data-type="GENDER"></div>
				<div fs-conclusion="person.birthConclusion" data-type="BIRTH"></div>
				<div fs-conclusion="person.christeningConclusion" data-type="CHRISTENING"></div>
				<div fs-conclusion="person.deathConclusion" data-type="DEATH"></div>
				<div fs-conclusion="person.burialConclusion" data-type="BURIAL"></div>
			</section>
			<section fs-rounded-section data-title="<%- i18n('section_nonvital') %>" class="has-actions">
				<div class="data-actions">
					<a href=""><%- i18n('open_details') %></a>
					<span>|</span>
					<a href="" class="fs-icon-add"><%- i18n('add') %></a>
				</div>
				<div fs-conclusion="conclusion" data-type="{{conclusion.type}}" ng-repeat="conclusion in person.otherConclusions"></div>
			</section>
			<section fs-rounded-section data-title="<%- i18n('section_family') %>">
				<div class="family-column family-spouses" data-count="{{person.families.spouses.length}}">
					<h4><%- i18n('section_family_spouses') %></h4>
					<div class="data-actions">
						<a href=""><%- i18n('hide_all') %></a>
						<span>|</span>
						<a href="" class="fs-icon-add"><%- i18n('add_spouse') %></a>
					</div>
					<div fs-family-members data-family="family" ng-repeat="family in person.families.spouses"></div>
					<a href="" ng-show="person.gender === 'MALE'" class="fs-icon-add"><%- i18n('add_child_unknown_mother') %></a>
					<a href="" ng-show="person.gender === 'FEMALE'" class="fs-icon-add"><%- i18n('add_child_unknown_father') %></a>
				</div>
				<div class="family-column family-parents" data-count="{{person.families.parents.length}}">
					<h4><%- i18n('section_family_parents') %></h4>
					<div class="data-actions">
						<a href=""><%- i18n('hide_all') %></a>
						<span>|</span>
						<a href="" class="fs-icon-add"><%- i18n('add_parent') %></a>
					</div>
					<div fs-family-members data-family="family" ng-repeat="family in person.families.parents"></div>
				</div>
			</section>
			<section fs-rounded-section data-title="<%- i18n('section_sources') %>" class="has-actions source-list">
				<div class="data-actions">
					<a href=""><%- i18n('open_details') %></a>
					<span>|</span>
					<a href="" class="fs-icon-add"><%- i18n('source_add') %></a>
					<span>|</span>
					<a href="" class="fs-icon-add"><%- i18n('source_attach') %></a>
				</div>
				<label ng-show="person.isLiving"><%- i18n('living_sources') %></label>
				<div fs-source="source" ng-repeat="source in person.sources"></div>
			</section>
			<section fs-rounded-section data-title="<%- i18n('section_discussions') %>">
				<label ng-show="person.isLiving"><%- i18n('living_discussions') %></label>
				<ul class="unstyled discussion-lists">
					<li ng-repeat="discussion in person.discussions" class="fs-icon-comment">
						<a href="">{{discussion.title}}</a>
					</li>
				</ul>
			</section>
			<section fs-rounded-section data-title="<%- i18n('section_notes') %>">
				<div class="data-actions">
					<a href=""><%- i18n('open_details') %></a>
					<span>|</span>
					<a href="" class="fs-icon-add"><%- i18n('add_note') %></a>
				</div>
				<ul class="unstyled note-lists">
					<li ng-repeat="note in person.notes" class="fs-icon-note-small">
						<a href="">{{note.title}}</a>
					</li>
				</ul>
			</section>
			<section fs-rounded-section data-title="<%- i18n('section_ordinances') %>">
				<div fs-ordinance="person.ordinances.baptism"></div>
				<div fs-ordinance="person.ordinances.confirmation"></div>
				<div fs-ordinance="person.ordinances.initiatory"></div>
				<div fs-ordinance="person.ordinances.endowment"></div>
				<div fs-ordinance="person.ordinances.sealingsToParents"></div>
				<div fs-ordinance="person.ordinances.sealingsToSpouses"></div>
			</section>
		</article>
		<aside class="pull-right">
			<div class="box" data-title="<%- i18n('side_print') %>">
				<a href="" class="fs-icon-tree"><%- i18n('print_pedigree') %></a>
				<a href="" class="fs-icon-FGR"><%- i18n('print_family') %></a>
				<a href="" class="fs-icon-FGR"><%- i18n('print_family_sources') %></a>
				<a href="" class="fs-icon-fan"><%- i18n('print_fanchart') %></a>
			</div>
			<div class="box" data-title="<%- i18n('side_research') %>">
				<a href="" class="fs-icon-search"><%- i18n('research_search') %></a>
			</div>
			<div class="box" data-title="<%- i18n('side_changes') %>">
				<ul class="unstyled change-log" ng-controller="changelogController">
					<li ng-show="person.isLiving"><label><%- i18n('living_changes') %></label></li>
					<li class="fs-icon-change" ng-repeat="change in person.changes | limitTo: 3">
						<p>{{getTitle(change)}}</p>
						<label>{{change.timeStampDisplay}}</label>
						<label>
							<%- i18n('change_by') %>
							<a href="">{{change.contributor.name}}</a>
						</label>
					</li>
				</ul>
			</div>
			<div class="box" data-title="<%- i18n('side_tools') %>">
				<a href="" class="fs-icon-duplicates"><%- i18n('tools_duplicates') %></a>
				<a href="" class="fs-icon-report"><%- i18n('tools_abuse') %></a>
				<a href="" class="fs-icon-trash"><%- i18n('tools_delete') %></a>
			</div>
		</aside>
	</section>
	<section data-section-id="photos" class="hide"></section>
	<section data-section-id="stories" class="hide"></section>
</div>