<% page = { title : 'Sort Presentation', key: 'sort_tree' } %>
<% assets = { css : ['ng-pedigree.css','ng-ancestor.css','ng-tree.css','fs-icon-svg.css'], js: ['angular-1.2.0.js','angular-1.2.0-route.js','angular-1.2.0-sanitize.js','ng-pedigree.js','ng-ancestor.js','ng-tree.js'] } %>
<div id="main" ng-app="tree" ng-init="defaultPersonId = '<%- userInfo.personId %>'; cpUserId = '<%- userInfo.cpUserId %>'">
	<div class="sub-nav">
		<ul class="unstyled clearfix" ng-controller="subnavController">
			<li ng-repeat="page in pages" ng-class="{'has-goto':page.hasHistory, active: isActive(page)}">
				<a href="" ng-click="navigate(page)" class="nav {{page.icon}}">{{page.text}}</a>
				<a href="" ng-click="showGoTo(page)" ng-show="page.hasHistory" class="goto-trigger"></a>
			</li>
		</ul>
	</div>
	<div ng-show="isActive({ name: 'tree' })" ng-controller="pedigreeController">
		<%- partial('pedigree') %>
	</div>
	<div ng-show="isActive({ name: 'ancestor' })" ng-controller="ancestorController">
		<%- partial('ancestor') %>
	</div>

	<script type="text/ng-template" id="partials/bowtie">
<%- partial('partials/bowtie') %>
	</script>
	<script type="text/ng-template" id="partials/conclusion">
<%- partial('partials/conclusion') %>
	</script>
	<script type="text/ng-template" id="partials/familymembers">
<%- partial('partials/familymembers') %>
	</script>
	<script type="text/ng-template" id="partials/person">
<%- partial('partials/person') %>
	</script>
	<script type="text/ng-template" id="partials/roundedsection">
<%- partial('partials/roundedsection') %>
	</script>
	<script type="text/ng-template" id="partials/ordinance">
<%- partial('partials/ordinance') %>
	</script>
	<script type="text/ng-template" id="partials/source">
<%- partial('partials/source') %>
	</script>
</div>